@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 90%;
    height: 90%;
    padding:0px 11px;
    padding-top: 10px;
  
}
.col-md-3{
    margin: 10px;
    margin-bottom: 20px;
    width: 23%;
    text-align: center;
    padding: 0px;
    cursor: pointer;
    border-radius: 3%;
    /* border: 1px solid black; */
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}
.details{
    padding: 0px 30px;
}
p{
   color:black;
   font-size: 15px;
   padding-top: 10px ;
  margin-bottom: 0px;
}
h3{
   font-size: 15px ;
   font-weight: 600;
   /* text-align: right; */
}
.header h1
{
    z-index: 1;
}
.navright ul{
 list-style: none;
}
.navbar
{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 99999999;
}
.navbar .navbar-logo img
{
    padding-left: 20px;
    width: 50%;
}
.menu-bar
{
    color: rgba(0,0,0,0.5);
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 99;
}
.sidenav
{
    background-color: rgba(0, 0, 0,0.6);
    box-shadow: inset 10px 10px 10px rgb(90, 89, 89);
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem  1rem;
    height: 100vh;
    width: 100%;
    display: none;
}
.sidenav ul
{
    padding-top: 4rem;
}
.sidenav  li a
{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.sidenav li
{
    color: white;
    padding: .8rem;
    width: 100%;
    text-align: center;
}
.sidenav .navigation li:hover
{
    background-color: rgba(198,182,167,0.9);
}
.sidenav li a i
{
    text-align: center;
    padding-top: 10px;
    padding-left: 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.sidenav li a i:hover
{
    background-color: rgba(198,182,167,0.9);
}
.header
{
    background-image: url("../img/modern-make.jpg"); 
    background-size: cover;
    background-position: center center;
    min-height:320px;
    position: relative;
}
.header::after{

    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background: #222328;
}

.header h1
{
    font-size: 6rem;
    color: white;
    z-index: 99;
}
/**/
.content{
    position: relative;
    background-color:#efe3d9;
}
.content .nav-link{
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin: 0px 10px;
}
.content .nav-link:hover{
    transition: .5s;
    border: 1px solid #e6af90e7;
    border-radius: 10%;
}
.nav-pills .nav-link.active{
     background-color:#e6af90e7 !important;
}

.slide{
    position: absolute;
    top:67px; 
    left: 0;
    right: 0;
    height: 90vh;
    position: fixed;
    z-index: 99;
    /* bottom: 0; */
    /* background-color: rgba(0, 0, 0, .4); */
    background-color: rgba(80, 75, 70, 0.5);
     display: none; 
    animation: animateSlider 2s;
    transition: 1s ease-in-out;
}

@keyframes animateSlider {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.slide .slide-item{

    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animateSliderContent 3s  ;
}
.slide img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 3%;
}
@keyframes animateSliderContent {
    from{
        transform: translate(-50%, -50%) scale(0);
    }
    to{
        transform:  translate(-50%, -50%) scale(1);
    }
}
.prev{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 40px;
    cursor: pointer;
    z-index: 9;
    color: #FFF;
}
.next{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    z-index: 9;
    color: #FFF;
}


.number{
    position: absolute;
    top: 0px;
    left: 100%;
    font-size: 25px;
    z-index: 9;
    background-color: #FFF;
    padding: 2px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

.active{
    display: block;
}

.close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FFF;
    cursor: pointer;
}
.price{
    padding: 0px;
    margin-top: 0%;
}

.icons {
    margin-bottom: 10px;
  
}
.icon{
    display: none;
}

.icons i{
    color: #f9c854;
    
}
/*bag section*/
.bag-btn
{
    background-color: transparent;
    color: rgba(0,0,0,0.5);
    border: none;
    font-size: 2rem;
}
.bag-btn:hover
{
    background-color: transparent;
}
.bag-btn .products-no
{ 
    background-color: #e6af90e7;
    font-size: 1rem;
    color: rgba(0,0,0,0.5);
}
.heart-btn
{
    background-color: transparent;
    color: rgba(0,0,0,0.5);
    border: none;
    font-size: 2rem;
}
.heart-btn:hover
{
    background-color: transparent;
}
.bag-list
{
    overflow-y: auto;
    scroll-behavior: smooth;
    position: fixed;
    top: 55px;
    right: 50px;
    bottom: 50%;
    width: 400px;
    z-index: 999909999;
    background-color: #e6b090fb;
    border-radius: 10px;
}
.heart-list
{
    overflow-y: auto;
    scroll-behavior: smooth;
    position: fixed;
    top: 55px;
    right: 130px;
    bottom: 70%;
    width: 400px;
    z-index: 999909999;
    background-color: #e6b090fb;
    border-radius: 10px;
}
/* width */
.bag-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.bag-list::-webkit-scrollbar-track {
    background: #e4bca7; 
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
.bag-list::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
.bag-list::-webkit-scrollbar-thumb:hover {
    background: white; 
  }
  /* width */
.heart-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.heart-list::-webkit-scrollbar-track {
    background: #e4bca7; 
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
.heart-list::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
.heart-list::-webkit-scrollbar-thumb:hover {
    background: white; 
  }
.close-btn
{
    position: absolute;
    top: 20px;
    z-index: 9999999;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.bag-item , .heart-item
{
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 85%;
    justify-content: space-around;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.heart-item img
{
    width: 130px;
    height: 90px;
}
.bag-item img 
{
    width: 130px;
    height: 90px;
}
.bag-item input
{
    width: 20%;
}
.bag-list button
{
    background-color: white;
    border: white;
    width: 60px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
}
.bag-list button:hover
{
    border-radius: 5px;
    border: 1px solid black;
}
.fa-trash
{
    padding-right: 5px;
    font-size: 1.2rem;
}
.fa-trash:hover
{ 
    color:red;
    cursor: pointer;
}
.faheart
{
    padding-right: 5px;
    font-size: 1.2rem;
    color:red;
    cursor: pointer;
}
.faheart:hover
{
    color: black;
}
.total-price
{
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    background-color: white;
}
/*footer*/
/**/
.footer
{
    border-top: 1px  solid black;
    background-color: #efe3d9;
}
.footer img
{
    width: 10%;
}
.footer .footer-content
{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.footer .footer-content input
{
    width: 400px;
    margin: auto;
}
.footer .footer-content button
{
    background-color:#e6cdba;
}
.footer .footer-content ul
{
    margin: auto;
    width: 40%;
    padding-bottom: 20px;
}
.footer .footer-content ul a
{
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    padding-left: 5px;
}
.footer .footer-content ul li a:hover
{
    background-color: #e6cdba;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

/*top button*/
.topBtn{
    background-color:rgb(198, 182, 167);
    color: white;
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 99999999999999;
    border:2px solid rgb(198, 182, 167);
    display: none;

  }
  /*top button*/

/**/
@media (max-width: 500px) 
{   .navbar-collapse
    {
        background-color: rgb(198, 182, 167) !important;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar-collapse li a:hover
    {
        color: white;
    }
    .navbar-toggler
    {
        border: none;
        outline: none;
    }
    .menu-bar
    {
       position: fixed;
       top: 1.5rem;
    }
    .navbar .navbar-logo img
    {
        padding-left: 65px;
        width: 55%;
    }
    .number .mt-3{
        margin: 0 !important;
    }
    .next {
        right: 7px;
        color: #242323;
        font-size: 30px;
    }
    .prev {
        left: 7px;
        color: #242323;
        font-size: 30px;
    }
    .close {
        top: 20%;
        color: #FFF  
    }
    .col-md-3 {
        margin: 6px;
        padding-bottom: 60px;
        width: 30% !important;
        position: relative;
    }
    .content .nav-link{
        padding: 0px;
        font-size: 23px;
    }
    .col-md-3 p{
        font-size:11px;
    }
    .details {
        padding: 0px 15px;
        position: absolute;
        bottom: 0;
    }
    .details h3{
        margin-left: 45px;
    }
    .slide img {
        height: 250px;
        width: 190px;
    }
    .slide .slide-item {
       
        left: 25%;
    }
    .number {
        width: 190px;
        height: 250px;
        font-size: 15px;
    }
    .p-3 {
        padding: 5px!important;
    }
    .col-md-3 button{
        font-size: 14px !important;
        padding: 0px;
    } 
    .bag-list
    {
        top: 55px;
        right: 5px;
        bottom: 50%;
        width: 400px;
    }
    .heart-list
    {
        top: 55px;
        right: 30px;
        bottom: 70%;
        width: 350px;
    }
    .footer .footer-content
    {
     width: 100%;
    }
     .footer .footer-content input
     {
      width: 80%;
     }
     .footer ul 
     {
         margin: auto;
     }
}
@media (max-width: 955px) and (min-width:501px)
{
    .navbar-collapse
    {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar-toggler
    {
        border: none;
        outline: none;
    }
    .navbar-collapse li a:hover
    {
        color: white;
    }
    .menu-bar
    {
    position: fixed;
       top: 1.5rem;
    }
    .navbar .navbar-logo img
    {
        padding-left: 50px;
    }
    .col-md-3 {
        width: 30%;
    }
    .number{
        width: 380px;
    }
    .slide .slide-item {
       left: 26%;
    }
    .next ,.prev {
    
        color: #242323;
       
    }
    .close {
        top: 20%;
        color: #FFF  
    }

}
