@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
/*loader*/

.loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(228, 219, 211);
    z-index: 999999999999999;
    display: flex;
}
body{
    overflow:hidden;
}
.spinner {
    width: 60px;
    height: 60px; 
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#b19580;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  /*loader*/
.header
{
    background-image: url("../img/background5.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header h1
{
    font-size: 2rem;
    color: white;
}
.header span
{
    font-size: 1.5rem;
    color: white;
    font-family: 'Pacifico', cursive;
}
.navbar
{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 99999;
}
.navbar .navbar-logo img
{
    padding-left: 20px;
    width: 50%;
}
.menu-bar
{
    color: white;
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 9900;
}
.sidenav
{
    background-color: rgba(0, 0, 0,0.6);
    box-shadow: inset 10px 10px 10px rgb(90, 89, 89);
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem  1rem;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 999;
}
.sidenav ul
{
    padding-top: 4rem;
}
.sidenav  li a
{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.sidenav li
{
    color: white;
    padding: .8rem;
    width: 100%;
    text-align: center;
}
.sidenav .navigation li:hover
{
    background-color: rgba(224, 217, 209, 0.9);
}
/**/
.header .reserve-form
{
    color: white;
    width: 360px;
    height: 400px;
    margin:8% auto;
    background-color: rgba(192, 129, 100, 0.43);
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.header form
{
    position: absolute;
    transition: 0.5s;
}
#form2
{
    left: 500px;
}
#form3
{
    left: 500px;
}
.header .btn
{
    color: white;
    width: 30%;
    margin: auto;
    outline: none;
    border-radius: 20px;
    background: linear-gradient(to right,rgb(192, 129, 100),#efe3d9);
}
.header .btn:hover
{
    border: thistle;
}
.header input,textarea
{
    border-radius: 4px;
    border: 1px solid #efe3d9;
    box-shadow: inset 0 0 0 2px #efe3d9;
}
.header select
{
    border-radius: 4px;
    border: 1px solid #efe3d9;
    box-shadow: inset 0 0 0 2px #efe3d9;
}
/**/
.footer
{
    border-top: 1px  solid black;
    background-color: #efe3d9;
}
.footer img
{
    width: 10%;
}
.footer .footer-content
{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.footer .footer-content input
{
    width: 50%;
    margin: auto;
}
.footer .footer-content button
{
    background-color:#e6cdba;
}
.footer .footer-content ul
{
    margin: auto;
    width: 30%;
    padding-bottom: 20px;
}
.footer .footer-content ul a
{
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
.footer .footer-content ul li:hover
{
    width: 30px;
    height: 30px;
    background-color: #e6cdba;
    border: 1px solid black;
    border-radius: 50%;
    padding-top: 2px;
}
/**/
/*top button*/
  .topBtn{
    background-color:rgb(198, 182, 167);
    color: white;
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 99999999999999;
    border:2px solid rgb(198, 182, 167);
    display: none;

  }
  /*top button*/
  
/*media*/
@media (max-width: 500px)
{
    .reserve-form
   {
    margin-top: 10rem !important;
    width: 100%;
   }
   .footer .footer-content
   {
    width: 100%;
   }
    .footer .footer-content input
    {
     width: 80%;
    }
}