@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
/*loader*/

.loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(228, 219, 211);
    z-index: 999999999999999;
    display: flex;
}
body{
    overflow:hidden;
}
.spinner {
    width: 60px;
    height: 60px; 
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#b19580;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  /*loader*/
.header
{
    background-image: url("../img/background1.jpg");
    background-size: cover cover;
    width: 100%;
    height: 100vh;
    animation: animate 20s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%{
        background-image: url("../img/background1.png");
    }
    15%
    {
        background-image: url("../img/background2.png");
    }
    30%
    {
        background-image: url("../img/background3.png");
    }
    45%
    {
        background-image: url("../img/background4.png");
    }
    60%
    {
        background-image: url("../img/background5.png");
    }
    75%
    {
        background-image: url("../img/background6.png");
    }
    90%
    {
        background-image: url("../img/background7.png");
    }
}
.overlay
{
    background-color: rgba(198,182,167,0.4);
    width: 400px;
    height: 280px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.header h1
{
    font-size: 4rem;
    color: white;
}
.header p
{
    font-size: 1.5rem;
    color: white;
}
.navbar
{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 99999999;
}
.navbar .navbar-logo img
{
    padding-left: 20px;
    width: 50%;
}

.menu-bar
{
    color: rgba(0,0,0,0.5);
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 99;
}
.active-link
{
    color: black;
    border-bottom: 2px solid black;
}
.sidenav
{
    background-color: rgba(0, 0, 0,0.6);
    box-shadow: inset 10px 10px 10px rgb(90, 89, 89);
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem  1rem;
    height: 100vh;
    width: 100%;
    display: none;
}
.sidenav ul
{
    padding-top: 4rem;
}
.sidenav  li a
{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.sidenav li
{
    color: white;
    padding: .8rem;
    width: 100%;
    text-align: center;
}
.sidenav .navigation li:hover
{
    background-color: rgba(198,182,167,0.9);
}
.sidenav li a i
{
    text-align: center;
    padding-top: 10px;
    padding-left: 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.sidenav li a i:hover
{
    background-color: rgba(198,182,167,0.9);
}
/**/
.concept
{
    background-color: white;
}
.concept img
{
    border: .5px solid black;
    border-bottom-left-radius:600px ;
    border-bottom-right-radius:600px ;
    height: 120%;
}
.concept a
{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}
.concept a:hover
{
    background-color: #c6b6a7;
}
/**/
.aboutus
{
    background-color: #efe3d9;
}

/**/
.ourservices
{
    background-color: #e6cdba;
}
.ourservices .p
{
    color: #ac896c;
    font-size: .875rem;
}
.ourservices img
{
    width: 70%;
    height: 55%;
    border: 1px solid #e7b289;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    cursor: pointer;
}
.ourservices .service-info
{
    background-color: #d3beaf;
    border: 1px solid #e7b289;
    width: 70%;
    height: 30%;
    text-align: center;
}
.ourservices .service-info p
{
    font-size: .875rem;
}
.ourservices .service-info h3
{
    font-size: 1.5rem;
    padding-top: 10px;
}
.ourservices .service-info a
{
    text-decoration: none;
    color: black;
}
.ourservices .service-info a:hover
{
    border: .5px solid black;
    padding: 2px 2px;
}
.services
{
  position: relative;
  overflow: hidden;
}
.serv:hover .visitus
{
    top: 0px;
}
.services .visitus
{
    top: 400px;
    width: 65%;
    height: 55%;
    position: absolute;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    background-color: rgba(217, 189 ,167,0.5);
}
.visitus a
{
    position: relative;
    top: 50%;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}
.visitus a:hover
{
    color: white;
}
/**/
.access iframe
{
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    border-top-right-radius: 90%;
}
.access button 
{
    background-color: #e6cdba;
}
.access button:hover
{
    background-color: #e6cdba;
    border: 1px solid white;
    color: white;
}
/**/
.products
{
    background-color: #e6cdba;
}
.products img
{
   border: 1px solid rgb(88, 87, 87);
}
.products .product-reac
{
    width: 70%;
    font-size: .785rem;
}
.products .product-reac i
{
    padding-top: 3px;
    padding-right: 3px;
}
.products .product-reac a
{
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: rgb(36, 35, 35);
    font-size: .8rem;
    padding-top: 14px;
}
.products .product-reac a:hover
{ 
    color: white;
}
/**/
.feedback
{
    background-color: #efe3d9;
}
.feedback .feedback1
{
    width: 600px;
    height: 300px;
    background-color: #e6cdba;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}
/**/
.footer
{
    border-top: 1px  solid black;
    background-color: #efe3d9;
}
.footer img
{
    width: 10%;
}
.footer .footer-content
{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.footer .footer-content input
{
    width: 400px;
    margin: auto;
}
.footer .footer-content button
{
    background-color:#e6cdba;
}
.footer .footer-content ul
{
    margin: auto;
    width: 40%;
    padding-bottom: 20px;
}
.footer .footer-content ul a
{
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    padding-left: 5px;
}
.footer .footer-content ul li a:hover
{
    background-color: #e6cdba;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

/*top button*/
.topBtn{
    background-color:rgb(198, 182, 167);
    color: white;
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 99999999999999;
    border:2px solid rgb(198, 182, 167);
    display: none;

  }
  /*top button*/

  .reservation{
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 99999;
    display: none;
}
.reservation .btn{
    z-index: 999;
    position: absolute;
    margin-left: -84px;
    margin-top: 14px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 50px;
    padding-left: 7px;
}
.reservation .btn:hover{
    border: none;
    background-color: #c6b6a788;
}
.res{
   
    min-width: 5vw;
    margin: 5vh auto;
    text-align: center;
    position: relative;
    z-index: 99;
  }
  #test{
    font-weight: 900;
    color: #394add;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 128px;
    position: relative;
    border: 1px solid #f00;
    transform: scale(1);
    transform-origin: center center;
    animation: rotation 5s linear infinite;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
/*media*/
@media (max-width: 500px) 
{   .navbar-collapse
    {
        background-color: rgb(198, 182, 167) !important;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar-collapse li a:hover
    {
        color: white;
    }
    .navbar-toggler
    {
        border: none;
        outline: none;
    }
    .menu-bar
    {
    position: fixed;
       top: 1.5rem;
    }
    .navbar .navbar-logo img
    {
        padding-left: 65px;
        width: 55%;
    }
    .active-link
    {
        border-bottom: none;
    }
    .our-concept
    {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .aboutus img
    {
        display: none;
    }
    .aboutus
    {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .access
    {
        padding-top: 30px;
        text-align: center;
    }
    .access iframe
    {
        padding-top: 20px;
        width: 100%;
        height: 80%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top-right-radius: 10%;
    }
    .products img
    {
       width: 100%;
    }
    .carousel-inner
    {
       padding-top: 10px  !important;
    }
    .feedback
    {
        padding-bottom: 50px;
    }
    .footer .footer-content
   {
    width: 100%;
   }
    .footer .footer-content input
    {
     width: 80%;
    }
    .footer ul 
    {
        margin: auto;
    }
}
@media (max-width: 955px) and (min-width:501px)
{
    .header
    {
        height: 70vh;
    }
    .navbar-collapse
    {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar-toggler
    {
        border: none;
        outline: none;
    }
    .navbar-collapse li a:hover
    {
        color: white;
    }
    .menu-bar
    {
    position: fixed;
       top: 1.5rem;
    }
    .navbar .navbar-logo img
    {
        padding-left: 50px;
    }
    .active-link
    {
        border-bottom: none;
    }
    .our-concept
    {
        padding-top: 50px;
    }
    .aboutus .row
    {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .aboutus img
    {
        height: 100%;
        padding: 0;
    }
    .ourservices .service-info
    {
    height: 60%;
    }
    .access
    {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .access iframe
    {
        height: 80%;
        width: 100%;
    }
}